<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>远方-{{title}}</title>
  <meta name="keywords" content="个人博客" />
  <meta name="description" content="远方博客，专注学习python 不定期分享有用的学习文章和心得" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/static/css/base.css" rel="stylesheet">
  <link href="/static/css/index.css" rel="stylesheet">
  <link href="/static/css/m.css" rel="stylesheet">
  <script src="/static/js/jquery.min.js" ></script>
  <script src="/static/js/hc-sticky.js"></script>
  <script src="/static/js/comm.js"></script>
  <!--[if lt IE 9]>
  <script src="/static/js/modernizr.js"></script>
  <![endif]-->
</head>
<body>
<header id="header">
  <div class="navbar">
    <div class="topbox">
      <p class="welcome1"><a href="">登录</a>｜<a href="">注册</a></p>
      <div class="searchbox">
        <div id="search_bar" class="search_bar search_open">
          <form id="searchform" action="/search/" target="_blank" method="get" name="searchform">
            <input class="input" placeholder="想搜点什么呢.." type="text" name="q" id="keyboard">
            <input type="hidden" name="show" value="title" />
            <input type="hidden" name="tempid" value="1" />
            <input type="hidden" name="tbname" value="news">
            <input type="submit" name="submit" value="搜索" class="search_ico"/>
            <!--<p > <span></span></p>-->
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="header-navigation">
    <nav>
      <div class="logo"><a href="/">春风化雨</a></div>
      <h2 id="mnavh"><span class="navicon"></span></h2>
      <ul id="starlist">
        <li><a href="/">首页</a></li>
        {% for nav in navs %}
        <li><a href="/list/{{ nav.id }}_1">{{ nav.tTitle }}</a></li>
        {% endfor %}
        <!---->
        <!--<li><a href="about.html">关于我</a></li>-->
        <!--<li><a href="share.html">模板分享</a></li>-->
        <!--<li><a href="list.html">博客日记</a></li>-->
        <!--<li class="menu"><a href="fengmian.html">学无止境</a>-->
          <!--<ul class="sub">-->
            <!--<li><a href="#">慢生活</a></li>-->
            <!--<li><a href="#">美文欣赏</a></li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li><a href="info.html">慢生活</a></li>-->
        <!--<li><a href="time.html">时间轴</a></li>-->
      </ul>
    </nav>
  </div>
</header>


{% block main %}{% endblock main %}


<!--wrapper end-->
<footer>
  <div class="footer">
    <div class="wxbox">
      <ul>
        <li><img src="/static/images/grwx.jpg"><span>我的微信</span></li>
        <li><img src="/static/images/qq.png"><span>我的qq</span></li>
      </ul>
    </div>
    <div class="bzjj">
      <h2>本站简介</h2>
      <p>专注于web开发,热爱学习python，一个九零后的python之路!</p>
    </div>
    <div class="other">
      <h2>网站版权</h2>
      <p>备案号：</p>
    </div>
  </div>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
